
.flexslider--default {
  position: relative;

  .flex-viewport {
    padding: 10px;
  }

  .slides {
    z-index: 90;

    &,
    & > li {
      position: relative;
      height: 100%;
    }

  }

  .flex-control-nav,
  .flex-direction-nav {
    z-index: 100;
  }

  // Override default Paging/Direction
  .flex-control-paging {
    bottom: 0;
  }
  .flex-control-paging a {
    width: 14px;
    height: 14px;
    //---
    @include box-shadow(none);
    background: #fff;

    &:hover {
      background: #aaa;
    }
  }
  .flex-control-paging a.flex-active {
    background: $brand-color;
  }

  .flex-control-nav li {
    margin: 0 3px;
  }
  .flex-direction-nav a {
    top: 50%;
    margin: -14px 0 0 0;
    //---
    z-index: 100;
    opacity: 1;
    text-indent: 1000px;
    overflow: hidden;
    @include transition(none);

    &:before {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }
  .flex-prev {
    @include sprite('slider-prev-01');
    left: -20px;
  }
  .flex-next {
    @include sprite('slider-next-01');
    right: -20px;
  }
}

.slider-container {
  width: 764px;
  margin: 0 auto 30px;
}

.slide-target {

}

.slide-image {
  display: block;
  max-width: 100%;
  //---
  @include transition(all 300ms ease);
}

.active .slide-image,
.slide-image:hover {
  margin-bottom: -2px;
  border: 2px solid #fff;
  border-radius: 2px;
  position: relative;
  z-index: 999;
  @include transform(scale(1.3));
}