
.b-primary-nav
  +reset-list-style()
  margin:
    left: 0
    bottom: 0

  font-family: 'Bebas Neue', sans-serif
  font-weight: bold

  li
    +font-size(43px)



  a
    padding:
      left: 28px
      right: 14px
    color: #ed3237

  li.active a,
  a:hover
    color: #fff
    background: #ed3237


  .phone
    padding:
      left: 28px
    //---
    white-space: nowrap
    color: #000
    +font-size(34px)

    .city
      margin-top: -.5em
      text-align: right
      +font-size(16px)
      font-style: italic
      font-family: 'PT Serif', serif
      font-weight: normal
      color: #373435

