
.b-article
  padding: 0 40px

  &__name
    margin-bottom: 0
    //---
    text-align: center
    +font-size(31px, false)
    font-style: italic
    font-weight: normal

  &__text
    p
      margin-bottom: 1em
      //---
      text-align: justify
      +font-size(16.67px, false)
      line-height: (18.75 / 16.67)

    img
      display: block
      margin: auto

    p + img
      margin-top: 40px