
.b-air
  $image: 'air.png'
  padding: 32px 0 0 152px
  width: image-width($image)
  height: image-height($image)
  background: image-url($image) no-repeat

  &__screen
    width: 547px
    height: 354px

    img
      max-width: 100%
      display: block
