
$sidebar-width: 288px

.root
  width: 1165px
  padding-left: $sidebar-width

.b-sidebar-menu
  .origin
    position: fixed
    left: 0
    padding: 0 30px
    width: $sidebar-width
    height: 100%


  &__logo
    padding-top: 24px

  &__nav
    margin-top: 40px
    
.b-layout
  padding-top: 55px
  background: #ed3237 image-url('body-bg.jpg') no-repeat
  color: #fff
  font-family: 'PT Sans', sans-serif
