
.b-preview
  position: relative

  &__item
    margin: 0 auto

  &__nav
    +reset-list-style()
    margin:
      left: 0
      bottom: 0

    .next, .prev
      position: absolute
      top: 50%
      display: inline-block
      margin-top: -26px

    .next
      +sprite('slider-next-02')
      right: 25px

    .prev
      +sprite('slider-prev-02')
      left: 25px